apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
  namespace: devops-lab
  labels:
    app: nginx
    project: kubernetes-lab
data:
  default.conf: |
    server {
      listen 80;

      location / {
        root /usr/share/nginx/html;
        index index.html;
      }

      location /health {
        access_log off;
        return 200 "OK\n";
        add_header Content-Type text/plain;
      }
    }

