apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
  namespace: devops-lab
  labels:
    app: nginx
    project: kubernetes-lab
data:
  nginx.conf: |
    events {}

    http {
        server {
            listen 80;

            location / {
                root /usr/share/nginx/html;
                index index.html;
            }

            location /health {
                return 200 'OK';
                add_header Content-Type text/plain;
            }
        }
    }
